@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif
}

html, body {
    height: 100vh;
 
}

main {
    background-color: white;
    position: relative;
    padding-bottom: 450px;
    width: 90vw;
    margin: 2% 0% 0% 4%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.349);
}

header {
    text-align: center;
    min-height: 150px;
    padding-top: 20px;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.61);
}

header > h1 {
    font-size: 1.4em;
    font-weight: normal;
  }

header > p > strong {
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.805);
  }

header > .hpara {
    font-size: .9em;
    color: rgb(109, 101, 101);
}

section {
    display: inline-block;
    box-shadow: -5px 5px 12px rgba(0, 0, 0, 0.349);
    padding: 15px;
    width: 22vw;
    height: 180px;
}

#line1, #line2, #line3, #line4 {
    height: 4px;
    margin: -15px -15px 22px -15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#line1  {
    background-color: rgba(209, 37, 37, 0.767);
}

#line2  {
background-color: rgb(55, 157, 252);
}

#line3  {
background-color: rgb(29, 99, 250);
}

#line4  {
background-color: rgb(228, 228, 75);
}

section > h1 {
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.805);
}

section > p {
    color: rgb(109, 101, 101);
}

#tbuilder {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#tcalculator {
    position: absolute;
    left: 67%;
    top: 45%;
}

#tsupervisor {
    position: absolute;
    left: 5%;
    top: 45%;
}

#tkarma {
    position: absolute;
    left: 50%;
    top: 63%;
    transform: translate(-50%);

}

section > img {
    position: absolute;
    top: 60%;
    left: 70%;
}

/* até 750px */ 

@media screen and (max-width: 750px) {

    body {
        height: 100vh;
    }

    main {
        box-shadow: none;
        max-height: max-content;
        height: 1300px;
    }

    section {
        width: 26vw;
    }

    #tbuilder {
        width: 40vw;
    }

    #tcalculator {
        width: 40vw;
        top: 35%;
        left: 50%;
        transform: translate(-50%);
    }

    #tsupervisor {
        width: 40vw;
        top: 55%;
        left: 50%;
        transform: translate(-50%);
    }

    #tkarma {
        width: 40vw;
        top: 75%;
        left: 50%;
        transform: translate(-50%);
    }

}


/* 500px para baixo */ 

@media screen and (max-width: 500px) {
    section {
        width: 30vw;
    }

    section > img {
        position: fixed;
    }
}